body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  text-align: center;
  background-color: #00ccff;
  height: 50%;
  width: 100%;
  font-size: 100%;
  line-height: 500%;
}

.maintitle {
  color: white;
  text-transform: uppercase;
}
.title2 {
  color: #00ccff;
  background-color: white;
}
.title3 {
  font-variant: small-caps;
}

.workstation {
  text-align: center;
}

.azuretext {
  text-align: center;
  color: #00ccff;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 100px;
}

.semibold {
  font-weight: bold;
  line-height: 50px;
}

.bold {
  font-weight: bolder;
  line-height: 50px;
}

.shadow {
  text-align: center;
  background-color: rgb(165, 164, 164);
  border-radius: 50px;
  line-height: 200%;
  font-style: italic;
}

.cyantext {
  color: rgb(55, 207, 207);
}

.cyanback {
  background-color: rgb(55, 207, 207);
  color: white;
}

.points {
  padding: 30px;
}

footer {
  text-align: center;
  background-color: rgb(71, 68, 68);
}

.whitetext {
  color: white;
  font-size: small;
}

.greytext {
  color: rgb(189, 186, 186);
}

.yellowtext {
  color: yellow;
}
